{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Access verification</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'doorstatic/css/door.css' %}">
        <link rel="shortcut icon" href="{% static 'gamestatic/img/llogo.png' %}">
    </head>
    <body style="background-image: url({% static 'doorstatic/img/img.png' %})">
        <div class="door">
            <p>Сайт доступен только студентам группы 2ИС3 и преподавателю Станиславу Исупову.<br>Для входа, пожалуйста, введите пароль.</p>
            <input id="inp" type="text" placeholder="Введите пароль сюда">
            <button id="go">Подтвердить пароль</button>
        </div>
        <script src="{% static 'doorstatic/js/door.js' %}"></script>
    </body>
</html>
