{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Access verification</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'doorstatic/css/reg.css' %}">
        <link rel="shortcut icon" href="{% static 'gamestatic/img/llogo.png' %}">
    </head>
    <body style="background-image: url({% static 'doorstatic/img/img.png' %})">
        <form method="post" class="door">
            <p>Для входа нужна регистрация, если вы уже зарегистрированы, нажмите на кнопку вход</p>

            {% csrf_token %}
            {{ form.as_p }}
            <button id="go" type="submit">Регистрация</button>
            <button onclick="location.href = 'login'">Вход</button>
        </form>


    </body>
</html>
