{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to the game of life</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'gamestatic/css/home.css' %}">
        <link rel="shortcut icon" href="{% static 'gamestatic/img/llogo.png' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body style="background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613181901_11-p-zheltie-foni-pustie-13.jpg)">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <img class="lg" src="{% static 'gamestatic/img/llogo.png' %}" width="90" height="70" alt="Logo" style="text-decoration: none; border-radius: 10px;">
                    <button class="b1" onclick="location.href = '/about'">Больше об игре</button>
                    <button class="b2" onclick="location.href = '/about/contacts'">Контакты</button>
                    <button class="b3" onclick="location.href = '/about/secret'">Секретные материалы</button>
                </div>
            </div>
        </div>
        <div class ="back">
            <p class="p1">Добро пожаловать на наш сайт, посвященный игре "Жизнь" Джона Конвея!</p>
            <p class="p2">
                Это увлекательная и захватывающая игра, которая представляет собой простую модель развития популяций. Созданная британским математиком Джоном Конвеем в 1970 году, игра в жизнь быстро стала популярной в научных кругах и среди любителей логических игр. В игре в жизнь вы будете управлять популяциями клеток, наблюдая за их жизненным циклом и эволюцией. Игра в жизнь позволяет вам экспериментировать с различными условиями, чтобы узнать, как они влияют на развитие популяции. Вы можете создавать новые виды клеток, управлять их ростом и размножением, и смотреть, как они развиваются со временем. Мы нашли большое удовольствие в создании этой игры, и надеемся, что она доставит вам множество часов увлекательного времяпрепровождения. Приятной игры!
            </p>

        </div>
        <img class="jc" src="{% static 'gamestatic/img/conway.jpg' %}" style="border-radius: 50px;">
        <button class="go" onclick="location.href = '/game'">Ну что, давай начинать!</button>
    </body>
</html>
