* {
    cursor: url('https://snipp.ru/demo/712/pointer-1.cur') 4 1, default;
}


body {
    font-family:'Roboto', sans-serif;
    color: #FFF;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
}

.navbar {
    background: #181A1C;
    margin-bottom:0;
    min-height:70px;
}

.navbar-inner {
    background: #181A1C;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
}

button {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background: none;
    position: relative;
    left: 1100px;
    z-index: 0;
    border-radius: 10px;
}

.b1:before {
    content: '';
    background: linear-gradient(45deg, #FFFF00, #EDFF21, #FEFE22, #FDE910, #FFFF00, #EDFF21, #FEFE22, #FDE910, #FFFF00, #EDFF21, #FEFE22, #FDE910);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.b2:before {
    content: '';
    background: linear-gradient(45deg, #FFFF00, #EDFF21, #FEFE22, #FDE910, #FFFF00, #EDFF21, #FEFE22, #FDE910, #FFFF00, #EDFF21, #FEFE22, #FDE910);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.b3:before {
    content: '';
    background: linear-gradient(45deg, #FFFF00, #EDFF21, #FEFE22, #FDE910, #FFFF00, #EDFF21, #FEFE22, #FDE910, #FFFF00, #EDFF21, #FEFE22, #FDE910);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000;
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.back {
    posirion: static;
    width: 1300px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #f2ddc6;
    border-radius: 15%;
    border: solid black;
}


.p1 {
    text-align:center;
    font-size: 300%;
    font-weight: 700;
    color: #000;
}

.p2 {
    font-size: 100%;
    float: left;
    color: #000;
    padding: 10px;
}

.button {
    position: absolute;
    margin-left: -370px;
    margin-top: 10px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 200px 200px 100px;
    grid-template-rows: auto;
    gap: 20px;
}

.button .bf, .af {
    width: 200px;
    height: 100px;
}

.bf:before {
    content: '';
    background: linear-gradient(45deg, #FFFFFF, #F5F5F5, #FFFAFA, #F8F8FF, #FFFFFF, #F5F5F5, #FFFAFA, #F8F8FF, #FFFFFF, #F5F5F5, #FFFAFA, #F8F8FF);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.af:before {
    content: '';
    background: linear-gradient(45deg, #FFFFFF, #F5F5F5, #FFFAFA, #F8F8FF, #FFFFFF, #F5F5F5, #FFFAFA, #F8F8FF, #FFFFFF, #F5F5F5, #FFFAFA, #F8F8FF);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.teach {
    position: absolute;
    width: 15%;
    height: auto;
    margin-top: 10%;
    margin-left: 1%;
}
